<!DOCTYPE html>
<html lang="pt-br" ng-app>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Angular</title>
</head>
<body class="container">
    <div class="container p-6">
        <h1 class="title has-text-centered m-6">Angular's text formatter</h1>
        <div class="box m-6">
            <form class="form">
                <div class="field">
                    <label class="label">Some text</label>
                    <div class="control">
                        <textarea class="textarea m-2" placeholder="Type your text here..." ng-model="text"></textarea>
                      </div>
                </div>
                <div class="field columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Color</label>
                            <div class="control">
                                <input type="color" class="input m-2" value="#000000" ng-model="color">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Size</label>
                            <div class="control">
                                <input type="number" class="input m-2" min="20" value="24" ng-model="size">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Font</label>
                            <div class="control">
                                <div class="select m-2">
                                    <select ng-model="font">
                                        <option value="">Default</option>
                                        <option value="Arial">Arial</option>
                                        <option value="Georgia, Times New Roman, Times, serif">Georgia</option>
                                        <option value="monospace">Monospace</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <p class="subtitle has-text-centered m-2 mb-5">Here's your new text:</p>
        <p class="subtitle has-text-centered" style="color: {{ color }}; font-size: {{ size }}px; font-family: {{ font }}">{{ text }}</p>
    </div>
</body>
</html>