h1{
    text-align: center;
    color: black;
    margin: 10px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    text-align: center;
    color: black;
    margin: 10px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
canvas{
    border: 4px solid black;
    background-color: lightgreen;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input{
    border: 3px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    width: 80px;
    height: 30px;
}
p{
    text-align: center;
    color: black;
    margin: 10px;
    font-size: 20px;
}