.modal{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 5000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #333
}

.modal button{
    width: 60%;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.modal button:hover{
    cursor: pointer;
}

.modal h3{
    font-size: 30px;
    font-weight: bolder;
}

.modal p{
    font-size: 20px;
}

h1{
    text-align: center;
}